@page
@model SuperMarketManagementSystem.Pages.Invoices.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Invoice</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Invoice.InvoiceId" />
            <div class="form-group">
                <label asp-for="Invoice.CreatorId" class="control-label"></label>
                <input asp-for="Invoice.CreatorId" class="form-control" />
                <span asp-validation-for="Invoice.CreatorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Invoice.ProductId" class="control-label"></label>
                <select asp-for="Invoice.ProductId" class="form-control" asp-items="ViewBag.ProductId"></select>
                <span asp-validation-for="Invoice.ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Invoice.DateTime" class="control-label"></label>
                <input asp-for="Invoice.DateTime" class="form-control" />
                <span asp-validation-for="Invoice.DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Invoice.QuantitySold" class="control-label"></label>
                <input asp-for="Invoice.QuantitySold" class="form-control" />
                <span asp-validation-for="Invoice.QuantitySold" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Invoice.InvoiceAmount" class="control-label"></label>
                <input asp-for="Invoice.InvoiceAmount" class="form-control" />
                <span asp-validation-for="Invoice.InvoiceAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Invoice.Status" class="control-label"></label>
                <select asp-for="Invoice.Status" class="form-control"></select>
                <span asp-validation-for="Invoice.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
